/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* COMMON */
.big-layout {
  max-width: 1280px;
  margin: 0 auto;
}

.style-button {
  border-radius: 15px;
  padding: 10px 15px;
}

.w-button {
  background-color: white;
  color: black;
}

.b-button {
  background-color: #23272a;
  color: white;
}

.v-button {
  background-color: #7289da;
  color: white;
}

p {
  line-height: 30px;
}

h2 {
  font-size: 48px;
}

/* HEADER */
header {
  background-color: #255ee9;
  color: white;
}

/* header top */
.header-top {
  padding: 20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 50%;
}

.menu ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.logo img {
  width: 100%;
  display: block;
}

.logo,
.login {
  padding: 0 10px;
}

/* header bottom */
.header-bottom {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(/img/jumbo.png);
  background-size: cover;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 900px;
}

h1 {
  font-size: 48px;
  margin-bottom: 50px;
}

h1 + p {
  margin-bottom: 20px;
  width: 70%;
}

/* MAIN */
section {
  padding: 50px 0;
}

section:nth-child(even) {
  background-color: #f6f6f6;
}

.cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cont.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.cont.column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box1 {
  max-width: 60%;
}

.cont img {
  width: 100%;
  display: block;
}

.box2 {
  max-width: 40%;
}

section p {
  margin-top: 40px;
}

section h3 {
  font-size: 28px;
  margin-bottom: 60px;
}

/* FOOTER */
footer {
  padding-top: 15px;
  background-color: #23272a;
  color: white;
  border-bottom: 2px solid #e3e4e4;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer.top {
  margin-top: 80px;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 2px solid #4f5d8c;
}

footer h4 {
  color: #7289da;
}

.col {
  display: flex;
  flex-direction: column;
  width: calc(70% / 4);
}

.col.big {
  width: 30%;
}

footer .big h4 {
  font-size: 32px;
}

.col.big div {
  margin: 10px 0;
}

.lingua {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.lingua img {
  width: 20px;
}

.icon i {
  margin-right: 20px;
}

footer ul li {
  margin: 20px 0;
}

.footer.bottom {
  padding-top: 30px;
  padding-bottom: 60px;
  justify-content: space-between;
  align-items: center;
}
